{% extends 'base.html' %}


{% block content%}
<ul  class='navauthor' style = 'padding-left:0; margin-left:0.5em;box-shadow: 2px 9px 8px grey;  float: right; list-style-type: none;'>
    <li><a  href ='{% url "create"  %} '> Add project </li>
      <li> <a  href='{% url "createprofile"   %}'>Update Profile </a></li>
     <li> <a href ='{% url "myprofile"  %}'>My Profile </a></li>
    {% if request.user.is_superuser %}
     <li> <a href ='{% url "allprofiles"  %}'>Authors Profile </a></li>
     {% endif %}
    </ul>

<h1> Welcome Friends </h1>
<p> <a href ='{% url 'create' %}'>Add a Project </a></p>
<div style=" display: grid; grid-template-columns: 3fr 3fr 3fr 3fr; grid-gap: 0.5em;">
    {% for projlists in homelists %}
<ul style=' border-radius: 0.5em; box-shadow: 2px 9px 8px grey;brder: solid black; padding : 1em; list-style-type: none; background: beige;'>
    <li><a href ='{% url "projdetail" projlists.slug  %} '><h4 style='margin:0em; margin-bottom: 0.2em;;'> {{projlists.title}} </h4></a></li>
<li> Created by {{ projlists.author}} the creator</li>
<li> <img style="width: 200px; height: 200px;" src ="{{projlists.project_image.url}}">
</li>
<li> Category: {{projlists.category}}

<li> {{ projlists.description|truncatechars:120 }}</li>
<li><button type = 'submit'> <a href ='{% url "projdetail" projlists.slug  %} '>
    Read More
</a> </button></li>
</ul>
{% endfor%}
 
</div>

{% endblock %}